
.subscribepage-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.checkbox-container {
    display:flex;
    align-items: baseline;
    justify-content: center;
}
.checkbox-container input{
    size: 32px;
}