.resultpage-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "header header header"
    "image ingredients labels"
    "link ingredients labels"
    "calorie ingredients labels"
    "source ingredients labels"
    "button button button";
    padding: 10px;
    color: darkviolet;
}
#item-header {
    grid-area: header;
    padding:20px;
    text-align: center;
    font-size: 24px;
}
#item-image {
    grid-area: image;
    padding: 20px;
}

#item-link{
    grid-area: link;
    text-align: center;
    color: darkviolet;
    padding: 10px;
}
#item-calorie{
    grid-area: calorie;
    text-align: center;
    color: darkviolet;
}
#item-source{
    grid-area: source;
    text-align: center;
    color: darkviolet;
}
#item-button{
    grid-area: button;
    text-align: center;
}
#item-ingredients{
    grid-area: ingredients;
    padding: 20px;
    list-style: square;
}
#item-labels{
    grid-area: labels;
    padding: 20px;
    list-style: none;
}


















