button{
    background-color: white;
    color: darkviolet;
    width:auto;
    height:36px;
    border-style: none;
    margin:25px;
    font-size: 24px;
}
button:hover{
    background-color: darkviolet;
    color:cornsilk;
}