nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    margin: 30px 200px 30px 200px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.link-button{
    margin: 12px;
}