input {
    background-color: cornsilk;
    font-size: 24px;
    border-radius: 10px;
    border-style: none;
    padding:10px;
}
label {
    font-size: 24px;
}
.inputfield-container{
    padding: 25px;
}
input.checkbox{
    width:50px;
    height: 50px;
}