.selectbox-menu{
    padding: 15px;
}
.selectbox-menu select{
    width: 200px;
    margin: 0 0 0 20px;
    height: 32px;
    border-radius: 10px;
    font-size: 16px;
    border-style: none;
    background-color: cornsilk;
    color: darkviolet;
}
