.selectbox-menu{
    padding: 15px;
    display:flex;
    align-items: baseline;
}
.selectbox-menu select{
    width: auto;
    margin: 0 0 0 20px;
    border-radius: 10px;
    font-size: 16px;
    border-style: none;
    background-color: cornsilk;
    color: darkviolet;
    padding: 10px;
}
