
body {
  background: url("./assets/background_homepage.jpeg");
  background-size:cover;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container{
  padding: 30px;
  column-gap: 20px;
  row-gap: 20px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px auto auto auto 50px;
  grid-template-areas:
  "navmenu navmenu navmenu"
  "add1 add2 add3"
  "switch switch switch"
  "add4 add5 add6"
  "footer footer footer"
;
}

@media screen and (min-width: 576px) {
.app-container{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px repeat(3, 1fr) 100px;
  grid-template-areas:
  "navmenu navmenu navmenu navmenu navmenu navmenu"
  "add1 switch switch switch switch add4"
  "add2 switch switch switch switch add5"
  "add3 switch switch switch switch add6"
  "footer footer footer footer footer footer";
  }
}
.item {
  background-color: cornsilk;
  color:darkviolet;

}
.item-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}
.item-add:hover{
  opacity: 0.5;
}


#item-navmenu{
  grid-area: navmenu;
}

#item-switch{
  grid-area: switch;
  padding:25px;

}
#item-footer {
  grid-area: footer;
}
#item-add1{
  grid-area: add1;
}
#item-add2{
  grid-area: add2;
}
#item-add3{
  grid-area: add2;
}
#item-add4{
   grid-area: add2;
 }
#item-add5{
  grid-area: add2;
}
#item-add6{
  grid-area: add2;
}

.loading-container{
  text-align: center;
  padding: 400px 0;
}

.loading-icon {
  width: 200px;
  height: 200px;
  animation: rotating 1.5s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fas {
  font-size: 32px;
  margin: 0 25px 0 25px;
  color: darkviolet;
}
.fas:hover{
  color:black;
}
