
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
  background: url("./assets/background_homepage.jpeg");
  background-size:cover;
  font-family: 'Quicksand', 'Arial', sans-serif;
  color: white;
}

h1 {
  font-size: 50px;
}

h4 {
  font-size: 18px;
}

.page-container {
  margin: 30px 60px 30px 60px;
  text-align: center;
}

.page-container {
  background-color:cornsilk;
  padding:25px;
  border-radius: 10px;
  color: darkviolet;
}

footer{
  display: flex;
  justify-content: flex-end;
}

fieldset{
  border: 2px solid darkviolet;
  border-radius: 10px;
  background-color: white;
}
