

.home-page-container {
  width: 1000px;
  margin: 60px auto;
}

.nav-menu-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
/*.menu-page-container {*/
/*  display: flex;*/
/*  align-items: baseline;*/
/*  background-color: pink;*/
/*  width: 1000px;*/
/*  margin: 60px auto;*/
/*  padding: 30px;*/
/*}*/





/*fieldset {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  background-color: pink;*/
/*  width: 1000px;*/
/*  padding: 30px;*/
/*  border-radius: 5px;*/
/*}*/

legend{
  font-size:50px;
}

.password-container {
  padding: 20px;
}

#edamam-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
}
